################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/csv parser/x64/Debug/csv parser.tlog
/.vs/csv parser
/csv parser/x64/Debug
